.row {
   padding: 10px 30px 60px;
   //  margin: 10px 0 60px;

   .rowTitle {
      text-align: left;
      font-size: 32px;
      font-weight: 500;
      color: #fff;
      padding-left: 20px;
      margin-bottom: 20px;
   }

   .rowContainer {
      display: flex;
      overflow-x: scroll;
      overflow-y: hidden;
      padding: 20px;
   }

   .movieContainer {
      text-align: left;
      width: 100%;
      margin-right: 20px;
      padding-right: 10px;
      display: flex;
      flex-direction: column;

      .posterContainer {
         width: 270px;
         transition: transform 450ms;
         padding-bottom: 25px;
         img {
            height: 100%;
            width: 100%;
            object-fit: contain;
         }

         &.largePoster {
            width: 330px;
            margin-right: 10px;
            &:hover {
               transform: scale(1.09);
            }
         }
         &:hover {
            transform: scale(1.08);
            cursor: pointer;
         }
      }
   }

   .movieInfo {
      width: 270px;
      height: 110px;
      overflow-x: scroll;
      margin-right: 20px;
      padding-right: 10px;
      &.largePoster {
         width: 330px;
      }

      .date {
         font-size: 15px;
         font-weight: 600;
         color: #d6d6d6;
         padding-bottom: 10px;
      }

      .overview {
         color: #a0a0a0;
         font-size: 14px;
         line-height: 20px;
         text-overflow: ellipsis;
      }
   }
}
