.banner {
   object-fit: contain;
   padding: 50px;
   color: #ffffff;
   margin-bottom: 0;
   @media screen and (min-width: 768px) {
      height: 448px;
   }

   .bannerContents {
      @media screen and (min-width: 768px) {
         padding-top: 140px;
      }
      .title {
         font-weight: 800;
         font-size: 30px;
         margin-bottom: 20px;
         max-width: 750px;
         @media screen and (min-width: 768px) {
            font-size: 46px;
         }
      }

      .button {
         border: 0;
         border-radius: 4px;
         outline: none;
         background: #272727;
         color: #fff;
         font-weight: 700;
         padding: 10px 32px;
         margin-bottom: 25px;
         cursor: pointer;
         transition: all 0.4s;
         &:hover {
            background-color: #4b4b4b;
         }
      }

      .description {
         line-height: 22px;
         font-weight: 768;
         max-width: 550px;
      }
   }

   .trailer {
      position: relative;
      z-index: 999;
      box-shadow: 0 2.8px 2.2px rgba(238, 236, 236, 0.034),
         0 6.7px 5.3px rgba(231, 226, 226, 0.048),
         0 12.5px 10px rgba(229, 226, 226, 0.06),
         0 22.3px 17.9px rgba(235, 232, 232, 0.072),
         0 41.8px 33.4px rgba(235, 230, 230, 0.086),
         0 100px 80px rgba(241, 238, 238, 0.12);
   }
}

.fadeBottom {
   margin-top: -117px;
   margin-bottom: 85px;
   height: 118px;
   background-image: linear-gradient(
      180deg,
      transparent,
      rgba(37, 37, 37, 0.61),
      #111
   );
}
